* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
.container{
    display: grid;

    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 170px 170px 170px 170px;

    gap:10px;
}
.item{
    border: 2px solid #333;
}
.item1 {
    background: lightgreen;
    grid-row: 1/4;
}

.item2 {
    background: lightgreen;
    grid-column: 2/4;
}

.item3{
    background: red ;
}

.item4{
    background: yellow;
}

.item5{
    background: red ;
}

.item6{
    background: red ;
}
.item7{
    background: yellow;
}
.item8{
    background: lightgreen;
    grid-column: 4;
    grid-row: 2/4;
}